
body {
    margin: auto;
    margin-top: 20px;
    padding-bottom:20px;
    width: 1010px;
    height: 100%;
  }

.ant-tabs-nav {
    width: 130px;
}
.ant-tabs-top .ant-tabs-nav {
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (max-width: 540px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: auto;
        width: 420px;
      }
    
}