
.ant-input {
    margin-top: 10px;
    margin-left: 40px;
    width: 938px;
    height: 40px;
    }
    

@media (max-width: 540px) {
    .ant-input {
     margin: 0 auto;
     width: 388px;
     margin-top: 17px;
     margin-left: 15px;
    }
}